<!DOCTYPE html>
<html>
  <head>
    <title>Spotify Recomendations</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="login-field">
      <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_Green.png" width="150px">
      <button class="get-top-tracks" id="custom-button" style="margin-left:15%; margin-top:15%">Display your TOP TRACKS:</button>
    </div>
    <div class="display-field" hidden="false">
      <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_Green.png" width="150px">
      <h2>YOUR TOP TRACKS:</h2>
      <ol>
        <div class="tracks-list">
          <!-- THIS IS WHERE THE LIST OF TRACKS WILL APPEAR -->
        </div>
      </ol>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/success.js"></script>
  </body>
</html>